<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Обновление информации</title>
</head>
<body>
<h2>Введите новые данные для песни</h2>
<form action="/api/songs/up/{song_id}" method="post" enctype="application/json">


    <input type="hidden" name="song_id" value="${song.id}">

    <label for="name">Название:</label>
    <input type="text" id="name" name="name" th:value="${song.name}" required><br><br>

    <label for="author">Автор:</label>
    <input type="text" id="author" name="author" th:value="${song.author}" required><br><br>

    <label for="timeLong">Продолжительность:</label>
    <input type="text" id="timeLong" name="timeLong" th:value="${song.timeLong}" required><br><br>

    <label for="isRemix">Ремикс:</label>
    <input type="checkbox" id="isRemix" name="isRemix" th:checked="${song.isRemix}"><br><br>

    <label for="rating">Оценка:</label>
    <input type="number" step="0.1" id="rating" name="rating" th:value="${song.rating}" required><br><br>

    <label for="publicationDate">Дата публикации:</label>
    <input type="date" id="publicationDate" name="publicationDate" th:value="${song.publicationDate}" required><br><br>

    <input type="submit" value="Обновить">
</form>


</body>
</html>