<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Song</title>
</head>
<body>
<h1>Update Song</h1>
<!-- Form to update a song -->
<form th:action="@{/up/{song_id}(song_id=${song.id})}" th:object="${song}" method="put">
    <!-- Input fields pre-filled with song details -->
    <!-- Example: -->
    <input type="text" th:field="*{name}" placeholder="Name"/><br/>
    <input type="text" th:field="*{author}" placeholder="Author"/><br/>
    <input type="number" th:field="*{timeLong}" placeholder="Time Long"/><br/>
    <!-- Add other fields accordingly -->
    <input type="submit" value="Update"/>
</form>
</body>
</html>
